{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated %}
      <h2 class="mb-3">Автомобильная дорога: </h2>
      <h5>{{ road.nroad }}</h5>
      <form method="post">
        <div class="card-header">
          <div class="row">
            <div class="col-12">
              {{ form|crispy}}
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-outline-primary">Сохранить</button>
                <a href="{% url 'road-list' %}" class="btn btn-outline-success my-1 my-sm-0">Отмена</a>
            </div>
          </div>
        </div>
        {% csrf_token %}
      </form>
    {% else %}
        <h2 class="mb-3">Зарегистрируйтесь!!!</h2>
    {% endif %}
{% endblock %}