{% extends "base.html" %}

{% block content %}
    <h2 class="mb-3">Перечень дорог Забайкальского края :</h2><hr>
    {% for road in road_list %}
        <div class="card-header">
            <div class="row">
                <div class="col-8" ><h6>{{ road.nroad }}  ,  район: {{ road.nregion}}</h6></div>
                {% if user.is_authenticated %}
                    <div class="col-2"><a href="{% url 'road-detail' road.id %}" class="btn btn-sm btn-outline-info my-2 my-sm-0" role="group" aria-disabled="true">Просмотр</a></div>
                    <div class="col-1"><a href="{% url 'road-update' road.id %}" class="btn btn-sm btn-outline-danger my-2 my-sm-0" role="group" aria-disabled="true">Изменить</a></div>
                {% else %}
                    <div class="col-2"></div>
                    <div class="col-1"></div>
                {% endif %}
            </div>
        </div>

     {% empty %}
        <h1>Список пуст!</h1>
    {% endfor %}

    {% block pagination %}
    {% endblock pagination%}

{% endblock content %}